$col-base-0 : rgb(10, 10, 10);
$col-base-10 : rgb(24, 24, 24);
$col-base-15 : rgb(30, 30, 30);
$col-base-20 : rgb(36, 36, 36);
$col-base-30 : rgb(49, 49, 49);
$col-base-40 : rgb(70, 70, 70);
$col-base-50 : rgb(90, 90, 90);