@mixin video {
  width: 640px;
  height: 480px;
}

:local(.viewerCanvas) {
  padding:8px;
  position: absolute;
  z-index: 2;
  top:0;
  left:0;
}

:local(.overlayClickable) {
  @include video;
  position: absolute;
  z-index: 2;
  top:0;
  left:0;
}

:local(.overlayCanvas) {
  @include video;

}

:local(.overlayWeb3D) {
  @include video;
  padding:8px;
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
}

:local(.videoimage){
  position: relative;
  .video {
    @include video;
  }
  .canvas {
    @include video;
    top:0;
    left:0;
    position: absolute;
    z-index: -1;
    visibility: hidden;
  }
}
