@import '../node_modules/normalize.css/normalize.css';
@import "./common/scss/color.scss";

html,body {
  background-color: $col-base-10;
}

:local(.viewer)  {
  margin:auto;
  position: relative;
  width: 656px;
  padding:8px;
  margin-top:8%;
}

:local(.header) {
  
}
